/*<<<<<<< Global */
:root{
    --color-one: #C5A077;
    --color-two: #8E6D46;
    --color-three: #FFECCC;
    --color-four: #C8C6BA;
    --black: black;
}
*{
    margin: 0;
    padding: 0;
}
.d-none{
    display: none;
}
body{
    background-color: var(--color-three);
}
