/*<<<<<<< Global */
:root{
    --color-one: #C5A077;
    --color-two: #8E6D46;
    --color-three: #FFECCC;
    --color-four: #C8C6BA;
    --black: black;
}
*{
    margin: 0;
    padding: 0;
}
.d-none{
    display: none;
}
body{
    background-color: var(--color-three);
}
/*<<<<<<< Header */
header{
    height: 150px;
}
header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
}
/*<<<<<<< Notes */
.note{
    background-color: var(--color-one);
    margin: 25px 10% ;
    width: calc(250px - 4px);
    border: 2px solid var(--color-two);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--color-two);
    display: flex;
    flex-direction: column;
}
.newNote-innerStyle{
    padding: 8px;
    background-color: var(--color-one);
    color: var(--black);
    border: none;
}
#new-note input{
    margin: 16px 16px 32px 16px;
}
#new-note textarea{
    margin: 0px 16px 0px 16px;
}
.add{
    margin: 16px 16px 16px 16px;
    display: flex;
    justify-content: flex-end;
}
.icon-note{
    cursor: pointer;
    width: 32px;
}
.center-note{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.note h2{
    padding: 16px 16px 32px 16px;
}
.note p{
    padding: 0 16px
}